{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        {{ with .Site.Params.contact.start.headline }}
        <h3>
          <a href="https://apinf.io/sign-up">{{ . }} →</a>
        </h3>
        {{ end }}
        {{ with .Site.Params.contact.start.description }}
        <p>
          {{ . }}
        </p>
        {{ end }}
      </div>
      <div class="col-lg-6 right-col">
        {{ with .Site.Params.contact.headline }}
        <h3>
          <a href="mailto:info@apinf.io">{{ . }} →</a>
        </h3>
        {{ end }}
        {{ with .Site.Params.contact.description }}
        <p>
          {{ . }}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</section>
