{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>
          <a href="https://apinf.io/sign-up" class="wow bounceIn">Get started →</a>
        </h3>
        <p>
          Sound like what you've been looking for? Check out the getting started guide and learn how to get up and running in less than a minute.
        </p>
      </div>
      <div class="col-lg-6 right-col">
        <h3>
          <a href="mailto:info@apinf.io" class="wow bounceIn">Get in touch →</a>
        </h3>
        <p>
          If you are using APInf, interested in contributing, or looking for commercial support, we'd love to hear about it. Please contact us.
        </p>
      </div>
    </div>
  </div>
</section>
