{{ "<!-- FOOTER -->" | safeHTML }}
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <p>
            © 2016 APInf - API Management Platform, a creation of Sampo Software Oy.
          </p>
        <ul class="list-inline social-buttons">
            <li>
              <a href="https://twitter.com/apinf_io"><i class="mdi mdi-36px mdi-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/APInf.io"><i class="mdi mdi-36px mdi-facebook"></i></a>
            </li>
            <li>
              <a href="https://github.com/apinf"><i class="mdi mdi-36px mdi-github-circle"></i></a>
            </li>
            <li>
              <a href="https://medium.com/apinf"><i class="mdi mdi-36px mdi-medium"></i></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</section>
