{{ "<!-- HEADER -->" | safeHTML }}
<header>
  <div class="header-content">
    <div class="header-content-inner">
      {{ with .Site.Params.hero.slogan }}
      <h1>{{ . | markdownify  }}</h1>
      {{ end }}
      {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
      {{ end }}
      {{ with .Site.Params.hero.subtitle }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
      {{ with .Site.Params.hero.buttonText }}
      <a href="https://apinf.io/sign-up" class="btn btn-primary btn-xl">{{ . }}</a>
      {{ end }}
      <a href="https://apinf.io/sign-up" class="btn btn-success btn-xl">Explore APIs</a>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline meta-info">
              <li>
                <a href="http://apinf.org/docs/">Documentation</a>
              </li>
              <li>
                Current version 0.34
              </li>
              <li>
                <a href="https://github.com/apinf/platform/releases">What's new</a>
              </li>
              <li>
                Free and open source (MIT)
              </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline meta-links">
              <li>
                <i class="mdi mdi-github-circle"></i>
                <a href="https://github.com/apinf/platform">Star on Github</a>
              </li>
              <li>
                <i class="mdi mdi-twitter-circle"></i>
                <a href="https://twitter.com/@apinf_io">Follow @apinf_io on Twitter</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
