{{ "<!-- TEAM -->" | safeHTML }}
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        {{ with .Site.Params.team.headline }}
        <h2 class="section-heading">{{ . }}</h2>
        {{ end }}
      </div>
    </div>
    {{ range .Site.Params.team.list }}
    <div class="col-sm-2">
      <div class="team-member">
        <img src="{{ .photo }}" class="img-responsive img-circle wow bounceIn">
        <h4>{{ .name }}</h4>
        <p class="text-muted">{{ .title }}</p>
        <ul class="list-inline social-buttons">
          {{ if .twitter }}
          <li>
            <a href="{{ .twitter }}"><i class="mdi mdi-twitter"></i></a>
          </li>
          {{ end }}
          {{ if .github }}
          <li>
            <a href="{{ .github }}"><i class="mdi mdi-github-circle"></i></a>
          </li>
          {{ end }}
          {{ if .linkedin }}
          <li>
            <a href="{{ .linkedin }}"><i class="mdi mdi-linkedin"></i></a>
          </li>
          {{ end }}
          {{ if .medium }}
          <li>
            <a href="{{ .medium }}"><i class="mdi mdi-medium"></i></a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
  </div>
</section>
