body {
background-color: #F2F2F2;
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 16px;
color: #555;

-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
font-family: 'Lato', sans-serif;
font-weight: 300;
color: #333;
}

h1 {
font-size: 36px;
margin-bottom: 25px;
}

h2 {
font-size: 32px;
margin-top: 40px;
margin-bottom: 25px;
}

h3 {
color: #95A5A6;
font-weight: 400;
}

h4 {
color: #95A5A6;
font-weight: 400;
font-size: 20px;
}

/* Paragraph & Typographic */
p {
line-height: 28px;
margin-bottom: 25px;
font-size: 16px;
}

.header-block {
margin-top: 50px;
text-align: center;
background-color: rgba(0,0,0,0.7);
}

.header-block .btn-warning {
margin-bottom: 50px;
}

.centered {
text-align: center;
}

.scr-shot {
margin: auto 0;
display: inline-block;
margin-top: 20px;
max-width: 100%;
}

/* Links */
a {
color: #3498DB;
word-wrap: break-word;

-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
color: #7B7B7B;
text-decoration: none;
outline: 0;
}

a:before,
a:after {
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

.feature-box .fa {
	color: #e59c44;
	font-size: 60px;
}

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #CCC;
margin: 1em 0;
padding: 0;
}

.navbar-default {
background-color: #222;
border-color: transparent;
}

.navbar-default .navbar-brand {
color: white;
}

.navbar-brand {
font-size: 24px;
}

.navbar-default .navbar-nav > li > a {
color: white;
}

/* Helpers */

.mt {
margin-top: 40px;
margin-bottom: 40px;
}

.form-control {
height: 42px;
font-size: 18px;`
width: 280px;
}

i {
margin: 8px;
color: #3498DB;
}


/* HeaderWrap */
#headerwrap {
background: url(../img/macro.jpg) no-repeat center top;
background-color: #3498DB;
margin-top: -10px;
padding-top: 100px;
background-attachment: relative;
background-position: center center;
min-height: 500px;
width: 100%;

-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#headerwrap h1 {
margin-top: 60px;
margin-bottom: 30px;
color: white;
font-size: 45px;
font-weight: 500;
letter-spacing: 1px;
}

#headerwrap small {
color: white;
font-weight: 300;
}


.btn-docs {
border: 1px solid #FFF;
color: #FFF;
margin-left: 5px;
}


.btn-outline {
background-color: transparent;
}



.btn-success.btn-outline:hover {
color: #FFF;
border: 1px solid #5CB85C;
background: #5CB85C;
}

@media (max-width: 1187px) {
.front-img {
display: none;
}
}

footer {
margin-bottom: 1em;
}

.row-odd {
background: #FFF;
}