html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

a {
  color: #418FDE;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #418FDE;
}

#about a {
  color: rgba(52, 52, 52, .7);
}

#about a:hover,
#about a:focus {
  color: rgb(52, 52, 52);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.navbar-brand {
  margin-top: 3px;
}

.bg-primary {
  background-color: #2fa4e7;
}

.bg-primary .dashboard-screenshot {
  max-width: 1440px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#about {
  padding-bottom: 0;
}

#about p {
  margin-bottom: 60px;
  margin-top: 40px;
}

#about h2 {
  font-size: 40px;
}

#about .btn {
  margin-bottom: 60px;
}

#opensource {
  background-color: #fff;
  color: #333;
}

section h2 {
  font-size: 30px;
}

#user-features {
  padding-top: 0;
  padding-bottom: 100px;
}

#user-features h2, #owner-features h2 {
  color: #333;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 20px;
}


#contact {
  background-color: #2fa4e7;
}

#contact .right-col {
  border-left: 1px solid #fff;
  padding-left: 30px;
}

#contact {
  color: #fff;
}

#contact a {
  font-size: 24px;
  color: #fff;
}

#contact h3 {
  margin-bottom: 25px;
  font-weight: 400;
}

.phone-number {
  font-size: 24px;
}

#footer {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #f99d1e;
}

#footer .social-buttons .mdi {
  color: #fff;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  border-color: rgba(34,34,34,.05);
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  background-color: #222;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  color: #f99d1e;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #f99d1e;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #f99d1e;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #f99d1e!important;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media(min-width:768px) {
  .container-fluid {
    padding-right: 80px;
    padding-left: 80px;
  }

  .nav {
    margin-top: 8px;
  }

  .navbar-default {

    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #222;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #f99d1e;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #f99d1e;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #fff;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #f99d1e;
  }
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../img/header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25),0 1px 25px rgba(0,0,0,0.75);
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 400;
  color: rgba(255,255,255,.7);
  text-shadow: 0 1px 1px rgba(0,0,0,0.25),0 1px 25px rgba(0,0,0,0.75);
}

@media(min-width:768px) {
  header {
    margin-right: auto;
    margin-left: auto;
    height: 70%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 100px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 35px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),0 1px 25px rgba(0,0,0,0.75);
  }

  .description-padding {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
  }
}

.section-heading {
  margin-top: 0;
  font-size: 40px;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

@media(min-width:992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #f99d1e;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #ec951d;
  color: #fff;
  background-color: #ec951d;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #f99d1e;
  color: #fff;
  background-color: #ec951d;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #ec951d;
  background-color: #ec951d;
}

.btn-primary .badge {
  color: #ec951d;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  font-weight: 600;
}

.outline {
  background-color: transparent;
  color: inherit;
  transition: all .25s;
}

.btn-primary.outline {
  padding: 15px 30px;
  color: #28ae4f;
  border: 1px solid #28ae4f;
}

.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
  color: #fff;
  border: 1px solid #28ae4f;
  background-color: #28ae4f;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

#team {
  background-color: #fafafa;
}

#team img {
  max-width: 151px;
  height: 151px;
}

#team .section-heading {
  margin-bottom: 50px;
}

.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

#services {
  background-color: #2fa4e7;
  color: #fff;
}

#services h3 {
  font-size: 19px;
  font-weight: 400;
}

#services .service-box {
  padding: 20px;
}

.meta-info {
  color: #fff;
  margin-top: 30px;
}

.meta-links {
  font-size: 16px;
}

.meta-info a,
.meta-links a {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.meta-info a:hover,
.meta-links a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  text-decoration: none;
}
